@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    background-color:#ededec;
    font-family: 'Lato', sans-serif;
    overflow-x:hidden;
}
#Pitch{
    width:50%;
    font-size:35px;
    top:28%;
    left:4.2%;
    color:rgb(70,70,70);
}
#SubPitch{
    width:50%;
    left:7%;
    font-size:55px;
    top:37%;
    color:rgb(48, 176, 240);
    border-radius:10px;
}
#Search{
    width:15%;
    height:10%;
    color:white;
    background-color:rgb(48,176,240);
    border-radius:5px;
    left:23%;
    top:57%;
    font-size:35px;
    transition:0.3s all;
}
#Search:hover{
    transform:scale(1.1);
}
.exists{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    position:absolute;
    text-decoration:none;
}
.car{
   animation-name:move;
   animation-duration:6s;
   animation-iteration-count:infinite;
   animation-timing-function:linear;
   position:absolute;
   width:150px;
   height:150px;
   left:-15%;
   top:-1%;
   
}
.car2{
    animation-name:move;
    animation-duration:6s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    position:absolute;
    width:150px;
    height:150px;
    left:-15%;
    top:75%;
    
 }
#Car1{
    animation-delay:0s;
}
#Car2{
    animation-delay:1s;
}
#Car3{
    animation-delay:2s;
}
#Car4{
    animation-delay:3s;
}
#Car5{
    animation-delay:4s;
}
#Car6{
    animation-delay:5s;
}
@keyframes move{
    0%{
        left:-10%;
    }
    100%{
        left:110%;
    }
}
#Section1{
    position:absolute;
    top:100%;
    height:50%;
    width:100%;
    background-color:white;
}
#Section2{
    position:absolute;
    top:150%;
    height:50%;
    width:100%;
    background-color:#ededec;
}
#Section3{
    position:absolute;
    top:200%;
    height:50%;
    width:100%;
    background-color:white;
}
#Section4{
    position:absolute;
    top:250%;
    height:50%;
    width:100%;
    background-color:#ededec;
}
.Header{
    font-size:30px;
    width:50%;
    left:40%;
    top:25%;
}
.Description{
    font-size:19px;
    width:30%;
    left:50%;
    top:45%;
}
.Image{
    height:200px;
    left:15%;
    top:15%;
    border-radius:10px;
}
.Header2{
    font-size:30px;
    width:50%;
    left:7%;
    top:25%;
}
.Description2{
    font-size:19px;
    width:30%;
    left:17%;
    top:45%;
}
.Image2{
    height:200px;
    left:55%;
    top:15%;
    border-radius:10px;
}

#SearchBar{
    width:30%;
    left:35%;
    border-radius:15px;
    background-color:rgb(48,176,240);
    border:none;
    height:10%;
    top:10%;
    transition:0.3s all;
    color:white;
    font-size:25px;
    font-family: 'Lato', sans-serif;
    text-align:left;
    padding-left:20px;
}
#SearchBar:focus{
    transform:scale(1.1);
    border:none;
    outline:none; 
}
#SearchIcon{
    position:absolute;
    top:11%;
    left:62%;
}
#Results{
    position:absolute;
    top:33%;
    left:28%;
    width:40%;
}
.sort{
    /*
    border-bottom:5px solid rgb(48,176,240);
    border-right:none;
    border-left:none;
    border-top:none;
    */
    border:4px solid rgb(48,176,240);
    top:24%;
    color:rgb(48,176,240);
    width:100px;
    height:40px;
    font-size:20px;
    border-radius:3px;
    transition:0.3s all;
}
#SortName{
    left:36%;
}
#SortPrice{
    left:47%;
}
#SortRange{
    left:58%;
}
.selected{
    color:white;
    background-color:rgb(48,176,240);
    transform:scale(1.1);
}

ul{
    list-style:none;
   
    
}
.carItem{
    width:100%;
    background-color:white;
    margin:20px 0;
    border-radius:40px;
    height:100px;
    /*border:2px solid rgb(48,176,240);*/

   
}
.carImg{
    width:170px;
    height:100px;
    position:absolute;
    left:50px;
    object-fit:cover;   
    
}
.carName{
    position:relative;
    left:34%;
    top:15%;
    width:220px;
    /*display:flex;
    justify-content:center;
    align-items:center;*/
    padding-left:15px;
    padding-right:15px;
    text-align:center;
    font-size:20px;
    white-space: nowrap;
    overflow: hidden;
  text-overflow: ellipsis;  
  color:black;
  text-decoration:none;
  
   /* border:1px solid black;*/
}
.carPrice{
    background-color:rgb(82, 255, 63);
    width:100px;
    position:relative;
    height:50px;
    border-radius:0px 20px 0px 0px;
    top:-62%;
    color:white;
    left:80%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:23px;
}
.carView{
    background-color:rgb(240, 54, 48);
    width:100px;
    position:relative;
    height:38px;
    border-radius:20px 20px 20px 20px;
    top:25%;
    left:48%;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    border:none;
    text-decoration:none;
    transition:0.3s all;
}
.carView:hover{
    transform:scale(1.1);
}
.carRange{
    background-color:rgb(48,176,240);
    width:100px;
    position:relative;
    height:50px;
    border-radius:0px 0px 20px 0px;
    top:-62%;
    left:80%;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;

}
#carimage{
    width:470px;
    height:330px;
    position:absolute;
    left:57%;
    top:15%;

}
#View{
    position:fixed;
    width:50%;
    background-color:rgb(240, 54, 48);
    height:60%;
    left:25%;   
    top:20%;
    border-radius:100px 0px 100px 100px;
    
}
#ViewName{
    width:100%;
    font-size:30px;
    top:5%;
    color:white;
}
#ViewPrice{
    width:50%;
    font-size:30px;
    top:25%;
    color:white;
}
#ViewRange{
    width:50%;
    font-size:30px;
    top:25%;
    left:50%;
    color:white;
}
#ViewDrive{
    width:50%;
    font-size:30px;
    top:50%;
    color:white;
}
#ViewCapacity{
    width:50%;
    font-size:30px;
    top:50%;
    left:50%;
    color:white;
}
#ViewZeroToSixty{
    width:50%;
    font-size:30px;
    top:75%;
    color:white;
}
#ViewMaxSpeed{
    width:50%;
    font-size:30px;
    top:75%;
    left:50%;
    color:white;
}
#ViewX{
    background:transparent;
    color:white;
    border:none;
    font-size:50px;
    left:90%;
    top:3%;
    transition:0.2s all;
}
#ViewX:hover{
    font-size:60px;
}
.invis{
    display:none;
}













































































:root {

    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: rgb(48,176,240);
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;
  
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
  }
  
  body {
    min-height: 100vh;
    transition: var(--tran-05);
  }
  
  ::selection {
    background-color: var(--primary-color);
    color: #fff;
  }
  
  body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
  }
  
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
  }
  .sidebar.close {
    width: 38px;
  }
  
  
  .sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .sidebar header .image,
  .sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
  }
  
  .sidebar .icon {
    min-width: 0px;
    position:absolute;
    left:20px;

    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  
  
  .sidebar .text,
  .sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
  }
  
  .sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
  }
  .sidebar.close .text {
    opacity: 0;
  }
  
  
  .sidebar header {
    position: relative;
  }
  
  .sidebar header .image-text {
    display: flex;
    align-items: center;
  }
  .sidebar header .logo-text {
    display: flex;
    flex-direction: column;
  }
  header .image-text .name {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
  }
  
  header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
  }
  
  .sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar header .image img {
    width: 40px;
    border-radius: 6px;
  }
  
  .sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
  }
  
  body.dark .sidebar header .toggle {
    color: var(--text-color);
  }
  
  .sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
  }
  
  .sidebar .menu {
    margin-top: 40px;
  }
  
  .sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
  }
  
  .sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
  }
  .sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align:center;
    height: 100%;
    
    width: 90%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
  }
  
  .sidebar li a:hover {
    background-color: var(--primary-color);
  }
  
  .sidebar li a:hover .text {
    color: var(--sidebar-color);
  }
  body.dark .sidebar li a:hover .icon,
  body.dark .sidebar li a:hover .text {
    color: var(--text-color);
  }
  
  .sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
  }
  .menu-bar::-webkit-scrollbar {
    display: none;
  }
  .sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
  }
  
  .menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
  }
  
  .mode .sun-moon i {
    position: absolute;
  }
  .mode .sun-moon i.sun {
    opacity: 0;
  }
  body.dark .mode .sun-moon i.sun {
    opacity: 1;
  }
  body.dark .mode .sun-moon i.moon {
    opacity: 0;
  }
  
  .menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
  }
  .toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
  }
  
  .switch::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
  }
  
  body.dark .switch::before {
    left: 20px;
  }
  
  .home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
  }
  .home .text {
    font-size: 100px;
    font-weight: 500;
    color: var(--text-color);
    padding: 200px 300px;
    font-family: tesla;
    animation-name: fadeInBottom;
    animation-duration: 1s;
    animation-fill-mode: both;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
  }
  
  .home .subtext {
      font-size: 40px;
      font-weight: 500;
      color: var(--text-color);
      padding: 0px 300px;
      animation-name: fadeInBottom2;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-delay: 0.2s;
  }
  
  .container {
      width: 1100px;
      display:flex;
      justify-content:space-between;
      flex-wrap:wrap;
      padding: 700px 400px 60px;
      background: var(--body-color);
      text-decoration-color: var(--text-color);
  }
  
  .container .box{
      border-radius: 25px;
      position:relative;
      width:320px;
      background: var(--body-color);
      padding: 50px 40px 60px;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
  
  
  .fadeInBottom { animation-name: fadeInBottom }
  @keyframes fadeInBottom {
      from {
          opacity: 0;
          transform: translateY(20%);
      }
      to { opacity: 1 }
  }
  
  .fadeInBottom2 { animation-name: fadeInBottom2 }
  @keyframes fadeInBottom2 {
      from {
          opacity: 0;
          transform: translateY(130%);
      }
      to { opacity: 1 }
  }
  
  .sidebar.close ~ .home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
  }
  body.dark .home .text {
    color: var(--text-color);
  }








































  
:root {

    --body-color: #e3e3e3;
    --sidebar-color: #fff;
    --primary-color: rgb(48,176,240);
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;
  
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
  }
  
  body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    /*overflow:hidden;*/
  }
  
  ::selection {
    background-color: var(--primary-color);
    color: #fff;
  }
  
  body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
  }
  
  
  
  .home {
    position: absolute;
    top: 0;
    top: 0;
    top: 200px;
    height: 10vh;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    z-index: 1;
  }
  .home .text {
    font-size: 50px;
    font-weight: 500;
    color: var(--text-color);
    padding: 0px 405px;
    font-family: "Poppins", sans-serif;
    animation-name: fadeInBottom2;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .home .subtext {
      font-size: 100px;
      font-weight: 500;
      color: var(--primary-color);
      padding: 0px 400px;
      animation-name: fadeInBottom2;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-delay: 0.2s;
  }
  
  .container {
      width: 2000px;
      display:flex;
      justify-content:space-between;
      flex-wrap:wrap;
      padding: 700px 400px 60px;
      background: var(--body-color);
      text-decoration-color: var(--text-color);
  }
  
  .container .box{
      border-radius: 25px;
      position:relative;
      width:320px;
      background: var(--sidebar-color);
      padding: 50px 40px 60px;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
  
  
  .fadeInBottom { animation-name: fadeInBottom }
  @keyframes fadeInBottom {
      from {
          opacity: 0;
          transform: translateY(20%);
      }
      to { opacity: 1 }
  }
  
  .fadeInBottom2 { animation-name: fadeInBottom2 }
  @keyframes fadeInBottom2 {
      from {
          opacity: 0;
          transform: translateY(130%);
      }
      to { opacity: 1 }
  }
  
  
  body.dark .home .text {
    color: var(--text-color);
  }
  
  @keyframes move_wave {
      0% {
          transform: translateX(0) translateZ(0) scaleY(1)
      }
      50% {
          transform: translateX(-25%) translateZ(0) scaleY(0.55)
      }
      100% {
          transform: translateX(-50%) translateZ(0) scaleY(1)
      }
  }
  .waveWrapper {
      z-index: -1;
     /* overflow: hidden;*/
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      filter: grayscale(100%);
  }
  .waveWrapperInner {
      position: absolute;
      width: 100%;
      /*overflow: hidden;*/
      height: 100%;
      bottom: 0px;
      background-image: linear-gradient(to top, --body-color 20%, --body-color 80%);
  }
  .bgTop {
      z-index: 15;
      opacity: 0.5;
  }
  .bgMiddle {
      z-index: 10;
      opacity: 0.75;
  }
  .bgBottom {
      z-index: 5;
  }
  .wave {
      position: absolute;
      left: 0;
      width: 200%;
      height: 100%;
      background-repeat: repeat no-repeat;
      background-position: 0 bottom;
      transform-origin: center bottom;
  }
  .waveTop {
      background-size: 50% 100px;
  }
  .waveAnimation .waveTop {
    animation: move-wave 3s;
     -webkit-animation: move-wave 3s;
     -webkit-animation-delay: 1s;
     animation-delay: 1s;
  }
  .waveMiddle {
      background-size: 50% 120px;
  }
  .waveAnimation .waveMiddle {
      animation: move_wave 10s linear infinite;
  }
  .waveBottom {
      background-size: 50% 100px;
  }
  .waveAnimation .waveBottom {
      animation: move_wave 15s linear infinite;
  }
  
  
  
    .wrapper {
      width: 100%;
      max-width: 31.25rem;
      margin: 6rem auto;
    }
    
    .label {
      font-size: 15px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: +1.3px;
      margin-bottom: 1rem;
    }
    
    .searchBar {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
    #searchQueryInput {
      width: 100%;
      height: 70px;
      background: #f5f5f5;
      outline: none;
      border: none;
      border-radius:50px;
      padding: 0 3.5rem 0 1.5rem;
      font-size: 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
    }
    
    #searchQuerySubmit {
      width: 3.5rem;
      height: 2.8rem;
      margin-left: -3.5rem;
      background: none;
      border: none;
      outline: none;
    }
    
    #searchQuerySubmit:hover {
      cursor: pointer;
    }
  
    
    
  
    /* CSS */
  .button-30 {
      align-items: center;
      appearance: none;
      background-color: #FCFCFD;
      border-radius: 4px;
      border-width: 0;
      box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
      box-sizing: border-box;
      color: #36395A;
      cursor: pointer;
      display: inline-flex;
      font-family: "Poppins", sans-serif;
      height: 48px;
      justify-content: center;
      line-height: 1;
      list-style: none;
      overflow: hidden;
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      text-align: left;
      text-decoration: none;
      transition: box-shadow .15s,transform .15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      will-change: box-shadow,transform;
      font-size: 18px;
      left: 1060px;
      top: -50px;
    }
    
    .button-30:focus {
      box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }
    
    .button-30:hover {
      box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
      transform: translateY(-2px);
    }
    
    .button-30:active {
      box-shadow: #D6D6E7 0 3px 7px inset;
      transform: translateY(2px);
    }
  
    .button-31 {
      align-items: center;
      appearance: none;
      background-color: #FCFCFD;
      border-radius: 4px;
      border-width: 0;
      box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
      box-sizing: border-box;
      color: #36395A;
      cursor: pointer;
      display: inline-flex;
      font-family: "Poppins", sans-serif;
      height: 48px;
      justify-content: center;
      line-height: 1;
      list-style: none;
      overflow: hidden;
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      text-align: left;
      text-decoration: none;
      transition: box-shadow .15s,transform .15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      will-change: box-shadow,transform;
      font-size: 18px;
      left: 1110px;
      top: -50px;
    }
    
    .button-31:focus {
      box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }
    
    .button-31:hover {
      box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
      transform: translateY(-2px);
    }
    
    .button-31:active {
      box-shadow: #D6D6E7 0 3px 7px inset;
      transform: translateY(2px);
    }
  
  
    .button-32 {
      align-items: center;
      appearance: none;
      background-color: #FCFCFD;
      border-radius: 4px;
      border-width: 0;
      box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
      box-sizing: border-box;
      color: #36395A;
      cursor: pointer;
      display: inline-flex;
      font-family: "Poppins", sans-serif;
      height: 48px;
      justify-content: center;
      line-height: 1;
      list-style: none;
      overflow: hidden;
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      text-align: left;
      text-decoration: none;
      transition: box-shadow .15s,transform .15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      will-change: box-shadow,transform;
      font-size: 18px;
      left: 1160px;
      top: -50px;
    }
    
    .button-32:focus {
      box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }
    
    .button-32:hover {
      box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
      transform: translateY(-2px);
    }
    
    .button-32:active {
      box-shadow: #D6D6E7 0 3px 7px inset;
      transform: translateY(2px);
    }
  
    .list {
      left: 500px;
    }
  
  
    /* CSS */
  .button-6 {
      align-items: center;
      background-color: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 100px;
      box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0.85);
      cursor: pointer;
      display: inline-flex;
      font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 20px;
      font-weight: 600;
      justify-content: center;
      line-height: 1.25;
      margin: 0;
      min-height: 3rem;
      padding: calc(.875rem - 1px) calc(1.5rem - 1px);
      position: relative;
      text-decoration: none;
      transition: all 250ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      width: 300px;
      height: 80px;
      left: 400px;
      top: -500px;
      z-index: 5;
    }
    
    .button-6:hover,
    .button-6:focus {
      border-color: rgba(0, 0, 0, 0.15);
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
      color: rgba(0, 0, 0, 0.65);
    }
    
    .button-6:hover {
      transform: translateY(-4px);
    }
    
    .button-6:active {
      background-color: #F0F0F1;
      border-color: rgba(0, 0, 0, 0.15);
      box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
      color: rgba(0, 0, 0, 0.65);
      transform: translateY(0);
    }
  /*
    .carimage {
      margin-left:1200px;
      margin-top:-1500px;
      padding-bottom: 300px;
      animation-name: fadeInBottom;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-delay: 0.4s;
    }
    */
  
   
  